<template>
  <div class="home">
    <Product />
  </div>
</template>

<script>
  import Product from '../components/Product'
export default {
  name: 'Home',
  components: {Product},
  data() {
    return {

    }
  },
}
</script>
