<template>
  <div class="product-price">
     Цена от <span class="product-price_number">{{ price }} руб.</span>
  </div>
</template>

<script>
export default {
  name: "ProductPrice",
  props: {
    price:{
      type: Number,
      default: 50190,
    }
  }
}
</script>

<style lang="scss" scoped>
.product-price {
  margin-top: 18px;
  font-size: 14px;
  &_number {
    margin-left: 2px;
    font-size: 24px;
    font-weight: bold;
    color: #FF5D1D;
  }
}
</style>