<template>
  <div class="product">
    <div class="product__main">
      <div class="product__design design">
        <div class="design__types">
          <div
              v-for="item in windowTotal"
              :key="item"
              class="design__types-container">
            <div class="design__types-number">{{  item }}</div>
            <UiSelect v-model="productWindow[item]" @input="productWindow = $event" :options="getWindowType"></UiSelect>
          </div>
        </div>
      </div>
      <div class="product__options">
        <div class="product__input-wrapper">
          <div :class="['input-paragraph', {'error': $v.productWindowWidth.$error}]">
            <UiInput v-model.trim="$v.productWindowWidth.$model" label="Ширина, мм" @change="setWindow()"></UiInput>
            <div class="error-text" v-if="!$v.productWindowWidth.required && $v.productWindowWidth.$error">Обязательное поле!</div>
            <div class="error-text" v-if="!$v.productWindowWidth.minLength || !$v.productWindowWidth.maxLength">
              3 или 4 цифры!
            </div>
          </div>

          <div :class="['input-paragraph', {'error': $v.productWindowHeight.$error}]">
            <UiInput v-model.trim="$v.productWindowHeight.$model" label="Высота, мм"></UiInput>
            <div class="error-text" v-if="!$v.productWindowHeight.required && $v.productWindowHeight.$error">Обязательное поле!</div>
            <div class="error-text" v-if="!$v.productWindowHeight.minLength || !$v.productWindowHeight.maxLength">
              3 или 4 цифры!
            </div>
          </div>
        </div>
        <div class="product__select-wrapper">
          <div class="select">
            <span class="select__label">ПВХ-профиль</span>
            <UiSelect v-model="productType" @input="productType = $event" :options="getWindowProfile" />
          </div>

          <div class="select">
            <span class="select__label">Стеклопакет</span>
            <UiSelect
                v-model="glassUnit"
                @input="glassUnit = $event"
                @change="changeGlassUnit()"
                :options="getWindowGlassUnit"
             />
          </div>

          <div class="select">
            <span class="select__label">Цвет</span>
            <UiSelect v-model="productColor"  @input="productColor = $event" :options="getWindowColor" />
          </div>
        </div>
        <Price />
        <div class="product__button">
          <UiButton @click="addToBasket()">
            Добавить в корзину
          </UiButton>
        </div>
      </div>
    </div>
    <div class="product__info">
      <div class="product__info-text">
        * Цены в настоящем калькуляторе указана ориентировочная стоимось конструкциый. Точный расчёть можеть быть
          проведен только с участием нашего инженера-замершика.
      </div>
      <div class="product__info-text">
        * Цены на учитывают текушие скидки и акции. Звоните для полного в наш колл-сентр!
      </div>
    </div>
  </div>
</template>

<script>
import Price from './_ProductPrice'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
export default {
  name: "ProductPrice",
  components: {
    Price,
  },
  validations: {
    productWindowWidth: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(4)
    },
    productWindowHeight: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(4)
    }
  },
  data() {
    return {
      windowTotal: null,
      productWindowWidth: '',
      productWindowHeight: '',
      productType: 'Eco 60',
      productColor: 'Белый',
      glassUnit: {
        id: 1,
        name: 'Двухкамерный стеклопакет',
        price: 3000,
        width: 1300,
        height: 1750
      },

      productWindow: ['Поворотное'],
    }
  },
  computed: {
    ...mapGetters([
      'getWindowProfile',
      'getWindowGlassUnit',
      'getWindowColor',
      'getWindowType',
    ]),
  },
  methods: {
    setWindow() {
      if(!this.$v.productWindowWidth.$invalid) {
        this.setWindowTotal()
      }
    },
    changeGlassUnit() {
      if(!this.$v.productWindowWidth.$invalid) {
        this.setWindowTotal()
      }
    },
    setWindowTotal() {
      let total = this.productWindowWidth / this.glassUnit.width
      let numberCount = Math.floor(total)
      if(total.toString().indexOf(".") === -1 ) {
        this.windowTotal = numberCount
      }else {
        this.windowTotal = numberCount + 1
      }
    },
    addToBasket() {}
  }
}
</script>

<style lang="scss" scoped>
.product {
  max-width: 800px;
  margin: 100px auto 0 ;
  background: #F3F3F3;
  padding: 20px 40px 20px 30px;
  &__main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 30px;
  }
  &__options {

  }
  &__design{
    align-self: flex-end
  }
  &__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__select-wrapper {

  }
  &__button {
    margin-top: 25px;
  }
  &__info {
    margin-top: 50px;
    &-text {
      color: #A1A1A1;
      font-size: 15px;
    }
  }
}
.select {
  margin-top: 15px;
  &__label {
    font-size: 12px;
    margin-bottom: 8px;
  }
}
.design {
  &__types {
    margin-left: 60px;
    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:not(last-child) {
       margin-bottom: 15px;
      }
      .v-select {
        width: 50%;
      }
    }
    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      font-size: 35px;
      min-width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #E6E6E6;
      line-height: 50px;
      color: #FFFFFF;
    }
  }
}
.input-paragraph {
  position: relative;
  width: 45%;
  &.error {
    /deep/.input__inner {
      border-color: #F94929;
      background: #FFBFBF;
    }
  }

  .error-text {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: #fb6340;
    font-size: 12px;
  }
}
</style>