<template>
    <button
        class="v-button"
        :class="[
        type ? 'v-button__' + type : '',
        {
        'is-disabled': btnDisabled,
        'is-plain': plainColor,
        }
    ]"
        :disabled="btnDisabled"
        @click="handleClick">
      <slot v-if="$slots.default"><span></span></slot>
    </button>
</template>

<script>
  export default {
    name: "vButton",
    props: {
      plainColor: {
        type: Boolean,
        default: false
      },
      type: {
        type: String,
        default: () => 'default'
      },
      btnDisabled: {
        type: Boolean,
        default: false
      },
    },
    mounted() {
      console.log(this.$slots,4);
    },
    computed: {},
    methods: {
      handleClick(evt) {
        this.$emit('click', evt);
      }
    }
  }
</script>

<style lang="scss" scoped>
.v-button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  &.is-disabled {
    opacity: 0.8;
    pointer-events: none;
  }
  &.is-plain {}
  &:hover {
    background: #FF5D1D;
    color: #fff;
    opacity: 1;
  }
  &__default {
    border-radius: 0;
    color: #FF5D1D;
    border: 1px solid #FF5D1D;
    transition: all .2s;
    text-transform: uppercase;
    &:hover {}
  }

}
</style>