<template>
  <div :class="[
      inputClass ? 'input__' + inputClass : '',
  ]">
    <label>
      <span v-show="label" class="input__label"> {{ label }} </span>
      <input @input="handleInput"
             @change="handleChange"
             :disabled="inputDisabled"
             :type="type"
             :value="value"
             class="input__inner">
    </label>
  </div>
</template>

<script>
export default {
  name: "Input",
  props: {
    value: [String, Number],
    label:String,
    disabled: {
      type: Boolean,
      default: () => false
    },
    type: {
      type: String,
      default: 'text'
    },
    inputClass: {
      type: String,
      default: 'default'
    },
  },
  computed: {
    inputDisabled() {
      return this.disabled;
    },
  },
  methods: {
    handleInput(evt) {
      this.$emit('input', evt.target.value)
    },
    handleChange(evt) {
      this.$emit('change', evt.target.value);
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  &__default {
    text-align: start;
  }
  &__label {
    font-size: 12px;
    margin-bottom: 8px;
  }
  &__inner {
    width: 100%;
    padding: 5px 20px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #E2E5EE;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    line-height: 26px;
    @media(max-width: 900px) {
      margin: 0 16px;
      width: 283px;
    }
  }
}

</style>