<template>
  <div class="v-select">
    <div class="v-select__container">
      <div class="v-select__input" @click="optionsVisible = true">{{selected.name}}</div>
      <img src="../../assets/images/svg/arrow-down.svg" alt="" class="v-select__icon" :class="{'rotate': optionsVisible}">
    </div>
    <div v-if="optionsVisible" class="v-select__options">
      <span v-for="(option, key) in options"
            :key="key"
            class="v-select__item"
            @click="selectOption(option)"
      >
        {{option.name}}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Select",
  props : {
    options: {
      type: Array,
      default:() => []
    }
  },
  data() {
    return {
      selected: this.options[0],
      optionsVisible: false
    }
  },
  methods: {
    selectOption(option) {
      this.selected = option
      this.$emit('input', option)
      this.hideSelect()
    },
    hideSelect() {
      this.optionsVisible = false
    }
  },
  mounted() {
      document.addEventListener('click', this.hideSelect.bind(this), true)
  },
  beforeDestroy() {
      document.removeEventListener('click', this.hideSelect)
  }
}
</script>

<style lang="scss" scoped>
.v-select {
  position: relative;
  width: 100%;
  &__container {
    position: relative;
  }
  &__icon {
    position: absolute;
    top: calc(50%);
    transform: translateY(-50%);
    right: 15px;
    width: 10px;
    transition: all .3s;
    &.rotate {
      transform: translateY(-50%) rotate(180deg);
    }
  }
  &__input {
    background: #fff;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 9pt;
    height: 35px;
    padding: 0 8px;
    border: 1px solid rgb(236, 236, 236);
    cursor: pointer;
  }
  &__options {
    //box-sizing: border-box;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid rgb(236, 236, 236);
    z-index: 9999;
  }
  &__item {
    font-size: 12px;
    color: #8B8B8B;
    display: block;
    text-align: start;
    cursor: pointer;
    padding: 5px 8px;
    &:hover {
      color: #FF5D1D;
      background: #eeeeee;
    }
  }
}
</style>